* {
	box-sizing: border-box;
}

header {
	display: grid;
	grid-template-areas: 
	"title title . ."
	"upload process choose export";
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1.5fr 1fr;
	border-radius: 10px 10px 0 0;
	padding: 5px 5px 0px 5px;

	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
}

.header-item {
	justify-self: stretch;

	display: flex;
	justify-content: center;
	align-items: center;
	margin: 4px 4px 0px 4px;
	border-radius: 8px 8px 0px 0px;
}

#TITLE{
	grid-area: title;
	font-family: 'Lemonada';
	font-size: 20pt;
}

#UPLOAD{
	grid-area: upload;
	cursor: pointer;
}

#PROCESS {
	grid-area: process;
	cursor: pointer;
}

#EXPORT {
	grid-area: export;
	cursor: pointer;
}

#CHOOSE {
	grid-area: choose;
}

#chosen_card {
	width:2in;
}

#container {
	justify-items: center;
	display:flex;
	flex-wrap:wrap;
	grid-row-gap:10px;
	grid-column-gap:10px;
	margin-top: 10px;
}

.grid-item{
	position:relative;
}

.card-stack{
	position:absolute;
	border: 1px solid black;
	height:100%;
	width: 100%;
}

.X, .plus {
	position: absolute;
	transform: translate(1.15in, 1.2in);
	width: 32px;
	height: 32px;
	opacity: 0.3;
	cursor: pointer;
	visibility: hidden;
	z-index: 1;
  }

.X:hover, .plus:hover {
	opacity: 1;
}

.X:before, .X:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 33px;
	width: 2px;
	background-color: #BD9B30;
}

.X:before {
	transform: rotate(45deg);
}

.X:after {
	transform: rotate(-45deg);
}

.plus:before {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 32px;
	width: 2px;
	background-color: #BD9B30;
}

.plus:after {
	position: absolute;
	top: 15px;
	content: ' ';
	height: 2px;
	width: 32px;
	background-color: #BD9B30;
}

#scroll-open {
	height: 0px;
	transition: 0.5s;
	border: 0px outset beige;
	border-radius: 20px;
	overflow: hidden;
}

#scroll-open > #scroll-header {
	height: 35px;
	width: 100%;
	color: white;
	background-color: black;
	overflow-y: hidden;
	padding-left: 10px;

	display: flex;
	justify-content: center;
	align-items: center;
}

#visualizer{
	display: flex;
	background: #333;
	
	overflow: auto;

	height: 350px;
	
}
#visualizer .vis-item{
	transform: scale(0.75);
}

@page {
	margin: 15px;
}
@media print {
	header, .X, #scroll-open {
		display: none;
	}
	
	* {
		background-color: white !important;
		color: black !important;
	}
	#container {
		display:grid;
		grid-template-columns: repeat(4, minmax(2.6in, 1fr));
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	  page-break-inside:auto;
	}
	.grid-item {
		grid-column: span 1 !important;
		width:66mm;
		height: 92mm;
	}
	.card {
		border: 1px dashed black;
	}
	.battlefield {
		transform:rotate(-90deg) translate(-50px,-50px);
	}
	
}