* {
	box-sizing: border-box;
}

#scroll_open {
	height: 0;
	width: 100%;
	color: white;
	background-color: black;
	overflow-y: hidden;
	transition: 0.5s;
	margin-bottom: 10px;
}

#scroll_open > * {
	margin: 5px;
}

header {
	display: grid;
	grid-template-areas: 
	"title title . ."
	"upload process choose export";
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1.5fr 1fr;
	border-radius: 10px 10px 0 0;
	padding: 5px 5px 0px 5px;

	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
}

.header-item {
	justify-self: stretch;

	display: flex;
	justify-content: center;
	align-items: center;
	margin: 4px 4px 0px 4px;
	border-radius: 8px 8px 0px 0px;
}

#TITLE{
	grid-area: title;
	font-family: 'Lemonada';
	font-size: 20pt;
}

#UPLOAD{
	grid-area: upload;
	cursor: pointer;
}

#PROCESS {
	grid-area: process;
	cursor: pointer;
}

#EXPORT {
	grid-area: export;
	cursor: pointer;
}

#CHOOSE {
	grid-area: choose;
}

#chosen_card {
	width:2in;
}

#container {
	justify-items: center;
	display:grid;
	grid-template-columns: repeat(4, 2.6in);
	grid-row-gap:10px;
	grid-column-gap:10px;
	page-break-inside:auto;
	border: 1px;
}

.X {
	position: absolute;
	transform: translate(1.15in, 1.2in);
	width: 32px;
	height: 32px;
	opacity: 0.3;
	cursor: pointer;
	visibility: hidden;
	z-index: 1;
  }

.X:hover {
	opacity: 1;
}

.X:before, .X:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 33px;
	width: 2px;
	background-color: #BD9B30;
}

.X:before {
	transform: rotate(45deg);
}

.X:after {
	transform: rotate(-45deg);
}
  
.card {
	padding:0.1in;
	border-radius: 8px;
}
#cName {
	height:0.4in;
	border-radius:3px;
	color:white;
	font-weight:bolded;
	line-height:0.4in;
	font-size:16px;
	padding-left:7px;
	padding-right:7px;
}
#cPower{
	height:0.4in;
	border-color:dimgray;
	border-style:solid;
	border-width:3px;
	text-align:center;
	line-height:20px;
}

#cRestore {
	height:0.4in;
	border-color:dimgray;
	border-style:solid;
	border-width:3px;
	text-align:center;
	line-height:20px;
}

#cType {
	position:relative;
	background-color:lightgray;
	height:0.2in;
	width:1in;
	float:left;
	border-color:dimgray;
	border-style:solid;
	border-width:2px;
	color:black;
	padding-left:3px
}

#cTextBox {
	background-color:azure;
	height:1.4in;
	border-radius:3px;
	border-color:grey;
	border-style:solid;
	border-width:2px;
	color:black;
	padding-left:3px;
	padding-right:3px;
	font-size:12px;
}

#cGlobal {
	background-color:azure;
	border-radius:3px;
	border-color:grey;
	border-style:solid;
	border-width:2px;
	color:black;
	padding-left:3px;
	padding-right:3px;
	font-size:12px;
}

#cTraits {
	background-color:lightgray;
	height:0.2in;
	width:1in;
	float:left;
	border-color:dimgray;
	border-style:solid;
	border-width:2px;
	color:black;
	padding-left:3px;
	font-size:15px;
}

#cCost {
	float:right;
	height: 100%;
}

@page {
	margin: 5px;
}
@media print {
	* {
		background-color: white !important;
		color: black !important;
	}
	header, .X, #scroll_open {
		display: none;
	}
	
	#container {
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}
	.grid-item {
		grid-column: span 1 !important;
	}
	.card {
		border: 1px dashed black;
	}
	.battlefield {
		transform:rotate(-90deg) translate(-50px,-50px);
	}
	
}