.card {
	padding:0.1in;
	border-radius: 8px;
}
#cName {
	height:0.4in;
	border-radius:3px;
	color:white;
	font-weight:bolded;
	line-height:0.4in;
	font-size:16px;
	padding-left:7px;
	padding-right:7px;
}
#cPower{
	height:0.4in;
	border-color:dimgray;
	border-style:solid;
	border-width:3px;
	text-align:center;
	line-height:20px;
}

#cRestore {
	height:0.4in;
	border-color:dimgray;
	border-style:solid;
	border-width:3px;
	text-align:center;
	line-height:20px;
}

#cType {
	position:relative;
	background-color:lightgray;
	height:0.2in;
	width:1in;
	float:left;
	border-color:dimgray;
	border-style:solid;
	border-width:2px;
	color:black;
	padding-left:3px
}

#cTextBox {
	background-color:azure;
	height:1.4in;
	border-radius:3px;
	border-color:grey;
	border-style:solid;
	border-width:2px;
	color:black;
	padding-left:3px;
	padding-right:3px;
	font-size:12px;
}

#cGlobal {
	background-color:azure;
	border-radius:3px;
	border-color:grey;
	border-style:solid;
	border-width:2px;
	color:black;
	padding-left:3px;
	padding-right:3px;
	font-size:12px;
}


#cCaptured {
	background-color:azure;
	border-radius:3px;
	border-color:grey;
	border-style:solid;
	border-width:2px;
	color:black;
	padding-left:3px;
	padding-right:3px;
	font-size:12px;
}

#cTraits {
	background-color:lightgray;
	height:0.2in;
	width:1in;
	float:left;
	border-color:dimgray;
	border-style:solid;
	border-width:2px;
	color:black;
	padding-left:3px;
	font-size:15px;
}

#cCost {
	float:right;
	height: 100%;
}