.Instant_Template, .Creature_Template, .Wonder_Template, .Card_Back {
	position: relative;
	width: 2.5in;
	height: 3.5in;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Instant_Template > .name{
	margin-top: 9pt;
	font-size: 11pt;
	color: black;
}

.Instant_Template > .traits{
	font-size: 6pt;
	color: black;
}

.Instant_Template > .text{
	margin-top: 200px;
	width: 88%;
	font-size: 8pt;
}

.Instant_Template > .cost{
	position: absolute;
	bottom: 16px;
	left: 20px;
	font-size: 9pt;
	color: black;
}


.card > img{
	position: absolute;
	z-index: -1;
}

.Instant_Template > .color, .Creature_Template > .color, .Wonder_Template > .color {
	position: absolute;
	top: 6px;
	width: 95%;
	height: 95%;
	z-index: -2;
	background-color: var(--Gold);
}
.Creature_Template > .name {
	position: relative;
	top: 179px;
	right: 30px;
	width: 125px;
	font-size: 9pt;
	text-align: center;
}
.Creature_Template > .stats {
	width: 56px;
	height: 56px;
	position: absolute;
	bottom: 120px;
	right: 16px;
}
.Creature_Template > .stats > .strength{
	position: absolute;
	top: 3px;
	left: 24px;
}
.Creature_Template > .stats > .health{
	position: absolute;
	top: 27px;
	left: 8px;
}
.Creature_Template > .stats > .restore{
	position: absolute;
	top: 27px;
	right: 8px;
}

.Creature_Template > .text{
	position: relative;
	top: 207px;
	width: 88%;
	font-size: 8pt;
	line-height: 9pt;
}

.Creature_Template > .cost{
	position: absolute;
	bottom: 17px;
	left: 22px;
	font-size: 9pt;
	color: black;
}
.Creature_Template > .traits{
	position: absolute;
	bottom: 15px;
	right: 60px;
	font-size: 9pt;
	color: grey;
	width: 108px;
	text-align: center;
}
.Wonder_Template > .cost {
	position: absolute;
	top: 20px;
	left: 23px;
	font-size: 9pt;
	color: black;
}
.Wonder_Template > .name {
	position: absolute;
	transform: rotate(-90deg) translate(-100px, -93px);
	width: 125px;
	text-align: center;
	font-size: 10pt;
}
.Wonder_Template > .health {
	position: absolute;
	left: 18px;
	bottom: 138px;
	text-align: center;
	width: 18px;
	font-size: 10pt;
}
.Wonder_Template > .text {
	position: relative;
	top: 209px;
	width: 82%;
	font-size: 8pt;
}
.Wonder_Template > .traits {
	position: absolute;
	bottom: 10px;
	left: 60px;
	font-size: 9pt;
	color: grey;
	width: 103px;
	text-align: center;
}
.Battlefield_Template {
	position: relative;
	width: 3.5in;
	height: 2.5in;
}
.Battlefield_Template > .name {
	position: absolute;
	top: 35px;
	right: 15px;
	width: 100px;
  text-align: center;
	color: white;
	font-size: 12px;
}
.Battlefield_Template > .captured_text {
	position: absolute;
	top: 80px;
	right: 10px;
	width: 35%;
	font-size: 11px;
}
.Battlefield_Template > .wild_text {
	position: absolute;
	top: 145px;
	left: 20px;
	width: 50%;
	font-size: 11px;
}