:root {
    --heavy_gold: #BD9B30;
    --light_gold: #AB8100;
    --dark_brown: #60432D;
    --light_brown: #7E6955;
    --highlighted: #BDAA70;
    --unhighlighted: #D3C5AA;

    --power:#bf1066;
    --restore:#85e085;

    --card_background: #f8f8ff;
    
    --Purple: #665566;
    --Gold: #f2e090;
    --Grey: #999;
    --Green: #7a9460;
    --Blue: #667799;
    --Red: #dd7788;
    
}

body {background-color:var(--unhighlighted)}

header {
    color:var(--dark_brown);
    background-color: var(--light_gold);
}

.header-item:hover {
    background-color: var(--highlighted);
}

.header-item {
    border: 2px solid var(--dark_brown);
    border-bottom-width: 0px;
}
#cPower{ background-color:var(--power); }

#cRestore { background-color:var(--restore); }

